@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

nav ul li a:hover{
    text-decoration: underline;
    scale: 1.1;
}
nav ul li a img:hover{
    border: 5px solid #ffffff;
    scale: 1.1;
}
footer
{
    margin-top: 300px;
}
.search-input
{

    display: flex;
    height: 150px;
   
    margin-top: 150px;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;
}
.search-input button{
    width:15%;
    height: 30%;
}
.search-input input{
    width: 50%;
    height: 29%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}