.search-input
{

    display: flex;
    height: 150px;
   
    margin-top: 150px;
    margin-bottom: 80px;
    justify-content: space-between;
    align-items: center;
}
.search-input button{
    width:15%;
    height: 30%;
}
.search-input input{
    width: 50%;
    height: 29%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
}
.colo:hover{
    scale: 1.1;
}